extends layout
block css
block content
	h1 #{ title }
	div
		p #[strong Name:] #{ ability.name }
		+details('Description')
			div
				ul 
					each description in ability.descriptions
						li #{ description }
		hr
		+link(`${ability.url}/delete`) 
			p Delete ability
		+link(`${ability.url}/update`) 
			p Update ability