extends layout
block css
block content
	h1 #{ title }
	div
		div
			h2 #{ tarot.name }
				if tarot.image.url
					img(src=tarot.image.url alt=tarot.name)
		div 
			+details('General Information')
				p #[strong Name:] #{tarot.name}
		div 
			+details('Pathway')
				if pathway !== null
					div
						+link(pathway.url)
							p #[strong Pathway:] #{pathway.name}
						if pathway.image.url
							img(src=pathway.image.url alt=pathway.name)
				else
					p There is no pathway.	
			hr
			+link(`${tarot.url}/delete`)
				p Delete Card of Blasphemy 
			+link(`${tarot.url}/update`)
				p Update Card of Blasphemy 